
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #F5EEDC;
 font-family: "Zalando Sans SemiExpanded", sans-serif;
 
}

.baap {
  width: 100%;
}

.head {
  width: 100%;

}
.nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12%;
    transition: all .50s ease;
   
}
.logo h1 {
    display: flex;
    align-items: center;
}
h1 i {
    
    font-size: 28px;
    margin-right: 3px;
}
h1 span {
  
    font-size: 2rem;
    font-weight: 600;
}
.navbar-links {
    display: flex;
    list-style:none;
}
.navbar-links a {
    position:relative;
    text-decoration:none;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
    color:black;
}


ul a::before{
  content: "";
  position: absolute;
  width:100%;
  height:1px;
  background:black;
  bottom: 1px;         
  left: 0;
  
  transform: scaleX(0);       
  transform-origin: left;     
  transition: transform 0.3s ease;
}

ul a:hover {
   color:green;
}
ul a:hover::before {
  transform: scaleX(1);       /* line expand hogi */
}

.registeration {
    display: flex;
    align-items: center;
    gap: 15px;
    transition: all .50s ease;
}
.registeration a {
  
    border-radius: 10px;
    background:#fff;
    color:black;
    padding:5px 8px;
    text-decoration:none;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all .50s ease;
}
.registeration a:hover{
    color:white;
    background: green;
    
}
a i {
    font-size: 1.6rem;
    font-weight: 600;
  
    margin-right: 2px;
}

.menu {
    display: flex;
    align-items: center;
}
.menu i {
    font-size: 38px;
    color: #0c0b0bff;
    cursor: pointer;
    z-index: 1000;
    display: none;
}


.bg-x {
  
  transition: all .50s ease;
  border-radius: 2px;
}


.navbar-links.open {
  right: 2%;
}


.but button {
  font-size: 20px;
  font-weight: 400;
  padding-inline: 1vw;
  border-radius: 5px;
}
.but button:hover {
  background-color: rgb(223, 200, 71);
  color: #2c2c2c;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 196, 160);

  padding: 3vw;
  gap: 20px;
}
.left {
  width: 100%;
  height: 100%;
  padding: 1vw 1vw;
  /* border: 1px solid black; */
}

.center {
  /* border: 1px solid black; */

  margin-top: 4vw;
}

.center h1 {
  font-size: 4vw;
  line-height: 4vw;
}

.center h1 i {
  color: rgb(136, 134, 7);
  border-bottom: 1px solid rgb(72, 71, 71);
  font-size: 5vw;
}

.center h3 {
  font-size: 2.4vw;
  line-height: 2;
  margin-bottom: 8px;
}

.center p {
  font-size: 1.3vw;
  color: rgb(37, 53, 51);
  font-weight: 500;
  line-height: 2vw;
}

.butt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vw;
}

.butt a {
  text-decoration: none;
  border: 1px solid rgb(81, 80, 80);
  padding: 2px 5px 2px 5px;
  font-size: 2vw;
  font-weight: 500;
  background-color: rgb(194, 159, 64);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.butt button {
  font-size: 1.5vw;
  font-weight: 500;
  padding: 5px 5px 5px 5px;

  border-radius: 10px;
  background-color: #414040;
  color: white;
}

.right {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  background-color: rgb(199, 196, 160);
  padding: 1vw 1vw;
}

.right img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page2 {
  width: 100%;
  padding: 1vw 3vw;
}
.for {
  width: 100%;
  border: 2px solid black;
  background-color: white;
  border-radius: 50px;
}
.firstf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw;
  position: relative;
}
.row label {
  font-size: 2.2vw;
  font-weight: bold;
}

.row button {
  background-color: green;
  color: white;
  font-size: 1.3vw;
  border-radius: 20px;
  padding: 15px;
}

form input {
  width: 18vw;
  border-radius: 18px;
  padding: 10px;
  border: 2px solid rgb(241, 232, 133);
  background-color: rgb(199, 196, 160);
}

.page3 {
  width: 100%;
}

.text {
  text-align: center;
  padding-top: 3vw;
}

.text h4 {
  color: rgb(160, 107, 9);
  font-size: 2vw;
  font-weight: 300;
}

.text h1 {
  font-size: 3vw;
}

.Card {
  display: flex;
  width: 100%;
  padding: 5vw 5vw;
  gap: 10px;
}

.read1 {
  background-color: rgb(250, 247, 248);
  text-align: center;
  padding: 12px;
  border-radius: 10px;
}

.read1 img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #f7f5f5;
  margin: 10px 10px;
  position: relative;
  border: 1px solid rgb(36, 35, 35);
  padding: 1vw 1vw;
}

.read1 img::after {
  content: "";
  top: 50%;
  border-radius: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(15, 15, 15);
  height: 80%;
  width: 80%;
  position: absolute;
}

.read1 p {
  font-family: "Times New Roman", Times, serif;
  margin: 10px 0px;
  font-size: 1.3vw;
  font-weight: 100;
}

.read1 h1 {
  font-size: 3vw;
}

.read1 button {
  font-size: 1.3vw;
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(184, 102, 9);
  color: white;
  border: none;
  margin: 10px 0px;
}

.page4 {
  width: 100%;
  height: 100%;
  padding: 2vw 2vw 2vw 2vw;
  position: relative;
}
.comn {
  width: 100%;
  height: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2023/03/06/14/19/cafe-7833566_1280.jpg);
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.7;
}
.content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 3.8vw;
}
.content h3 {
  color: rgb(247, 246, 246);
  font-size: 40px;
}
.content h1 {
  font-size: 40px;
}
.content button {
  border: 1px solid black;
  color: rgb(247, 246, 246);
  font-weight: bold;
  font-size: 1.3vw;
  border-radius: 15px;
  padding: 1vw 1vw;
  background-color: rgb(190, 115, 17);
  margin-top: 2vw;
}
.content button:hover {
  background-color: white;
  color: #000;
}
.page5 {
  width: 100%;
  height: 100%;
}
.Apage {
  width: 100%;
  display: flex;
}
.A {
  width: 100%;
  height: 60%;
  padding: 5vw 5vw 5vw 5vw;
}
.A h5 {
  font-size: 3vw;
  color: rgb(145, 96, 5);
}
.A h1 {
  padding-top: 1vw;
  font-size: 4vw;
}

.A p {
  font-size: 1.4vw;
  padding-top: 1.9vw;
  line-height: 2vw;
  word-spacing: 3px;
}
.A button {
  margin-top: 3vw;
  border: 2px solid black;
  font-size: 1.3vw;
  border-radius: 15px;
  padding: 1vw 1vw;
  background-color: rgb(190, 115, 17);
  color: aliceblue;
}
.B {
  width: 100%;
  height: 40%;

  padding: 3vw 3vw 3vw 3vw;
  background-color: rgb(199, 196, 160);
}
.B img {
  width: 100%;
  height: 100%;
  border-radius: 1vw;
}
.page6 {
  width: 100%;
  /* height: 100%; */
  /* border: 1px solid black; */
}
.Cpage {
  width: 100%;
  display: flex;
  /* border: 1px solid rgb(238, 13, 13); */
}

.C {
  width: 100%;
  height: 100%;
  padding: 2vw 2vw 2vw 2vw;
}

.C img {
  width: 100%;
  height: 80vh;
  border-radius: 15px;
}

.D {
  width: 100%;
  height: 100%;
  padding: 3vw 3vw 3vw 3vw;
  /* border: 2px solid palevioletred; */
  /* margin-top: 5vw; */
}
.D h5 {
  font-size: 2.5vw;
  color: rgb(145, 96, 5);
}

.D h2 {
  font-size: 4vw;
}
.D p {
  font-size: 1.4vw;
  line-height: 1.8rem;
  padding-top: 2vw;
}
.D button {
  margin-top: 2.5vw;
  border: 2px solid black;
  font-size: 1.3vw;
  border-radius: 15px;
  padding: 1vw 1vw;
  background-color: rgb(190, 115, 17);
  color: aliceblue;
}

.page7 {
  width: 100%;
  height: 100%;
}
.custom {
  text-align: center;
}
.custom h1 {
  font-size: 3vw;
}
.custom h4 {
  color: rgb(145, 96, 5);
  font-size: 2vw;
}
.group {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.member {
  display: flex;
  gap: 10px;
}
.member {
  width: 30%;
  height: 30%;
  margin-top: 5vw;
  position: relative;
}
.member:nth-child(2) {
  position: absolute;
  top: 40%;
}
.Man {
  width: 100%;
  padding-inline: 1vw;
}
.Man img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.Man2 {
  padding-top: 0.4vw;
}
.Man2 h1 {
  font-size: 2vw;
}

.Man2 p {
  font-size: 1.3vw;
  line-height: 2vw;
}

.Man2 h3 {
  font-size: 1vw;
  font-weight: bold;
  color: rgb(212, 212, 5);
}

.page8 {
  width: 100%;
  height: 100%;
  text-align: center;
}

.con {
  margin-top: 3vw;
}

.con h4 {
  font-size: 1.7vw;
  color: rgb(145, 96, 5);
}

.con h1 {
  font-size: 2.8vw;
}

.row1 input {
  color: black;
  font-size: 1.3vw;
  width: 35%;
  background-color: rgb(156, 145, 88);
  border: none;

  padding: 2vw 2vw 2vw 2vw;
  margin-top: 1vw;
}

.row2 input {
  color: black;
  font-size: 1.3vw;
  width: 35%;
  padding: 2vw 2vw 2vw 2vw;
  background-color: rgb(156, 145, 88);
  margin-top: 2vw;
  border: none;
}

.row3 textarea {
  color: rgb(78, 3, 3);
  font-size: 1.4vw;
  background-color: rgb(156, 145, 88);
  border: none;
  margin-top: 2vw;
  border-radius: 10px;
  padding-left: 1vw;
}

.row4 {
  margin-top: 2vw;
}

.row4 button {
  background-color: rgb(9, 168, 107);
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 10px;
  font-size: 1vw;
  color: #000;
  font-weight: bold;
}

.page9 {
  width: 100%;
  height: 50vh;
  background-color: chocolate;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  padding-top: 3vw;
}

.coloum h1 {
  color: white;
  font-size: 2vw;
  font-weight: 600;
}

.coloum .cols h4 {
  line-height: 2.6vw;
  font-size: 1vw;
  font-weight: 600;
}

.coloum .inp {
  margin-top: 2vw;
}

.coloum .inp input {
  width: 20vw;
  padding-top: 1.8vw;
}

@media (max-width: 768px) {
  

  .but button {
    font-size: 15px;
    padding: 1vw 1vw 1vw 1vw;
  }
  .but button:hover {
    background-color: rgb(223, 200, 71);
    color: #292828;
  }
  .main {
    min-height: 100%;
    /* border: 1px solid black; */
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
  }
  .left {
    /* border: 1px solid black; */
    width: 100%;

    margin: 0px 0px 0px 0px;
    padding-inline: 4vw;
  }
  .center {
    /* border: 1px solid black; */
    margin: 0px 0px 0px 0px;
    margin-top: 5vw;
  }
  .center h1 {
    font-size: 5vw;
    line-height: 8vw;
  }
  .center h1 i {
    color: rgb(136, 134, 7);
    border-bottom: 1px solid rgb(72, 71, 71);
    font-size: 8vw;
  }
  .center h3 {
    font-size: 3vw;
    line-height: 2.1;
  }

  .center p {
    font-size: 3vw;
    font-weight: 100;
    line-height: 4.3vw;
  }
  .butt {
    padding-inline: 3.3vw;
    /* margin-top: 2.2vw; */
  }
  .butt a {
    padding: 5px 6px 5px 6px;
    font-size: 3vw;
    font-weight: 600;
  }
  .butt button {
    font-size: 3vw;
    font-weight: 600;
  }
  .right {
    width: 100%;
    height: 50%;
  }

  .right img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .page2 {
    margin-top: 5vw;
  }

  .firstf {
    padding: 5vw;
    position: relative;
  }

  .row label {
    font-size: 4vw;
    font-weight: bold;
  }

  .row button {
    font-size: 2vw;
  }
  .row button:hover {
    background-color: rgb(218, 218, 98);
    color: black;
  }
  form input {
    width: 100%;
    height: 10vh;
    padding-left: 2vw;
  }
  .firstf {
    display: block;
    padding: 30px;
  }
  .row button {
    position: relative;
    left: 40%;
    margin-top: 10px;
  }
  .page3 {
    width: 100%;
  }
  .text h4 {
    font-size: 3.6vw;
    font-weight: 300;
  }
  .text h1 {
    font-size: 5vw;
  }
  .Card {
    flex-wrap: wrap;
  }

  .Card {
    width: 100%;
  }
  .read1 {
    padding: 10px;
  }

  .read1 img {
    width: 160px;
    height: 160px;
  }

  .read1 img::after {
    content: "";
    top: 50%;
    border-radius: 50%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(15, 15, 15);
    height: 80%;
    width: 80%;
    position: absolute;
  }

  .read1 p {
    font-family: "Times New Roman", Times, serif;
    margin: 10px 0px;
    font-size: 1vw;
    font-weight: 100;
  }
  .read1 h1 {
    font-size: 6vw;
    font-weight: 500;
    color: black;
  }
  .read1 button {
    font-size: 1.6vw;
    font-weight: 500;
  }
  .read1 button:hover {
    background-color: rgb(209, 209, 95);
    color: #292828;
  }
  .read1 p {
    font-size: 4vw;
    font-weight: 500;
  }
  .read1 button {
    font-size: 3vw;
  }
  .page4 {
    width: 100%;
    height: 100%;
  }
  .comn {
    background-image: url(https://cdn.pixabay.com/photo/2023/03/06/14/19/cafe-7833566_1280.jpg);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.8;
  }

  .content {
    line-height: 8vw;
  }
  .content h3 {
    color: rgb(247, 246, 246);
    font-size: 30px;
    font-weight: bold;
  }

  .content h1 {
    font-size: 30px;
  }

  .content button {
    font-size: 3vw;
    font-weight: 500;
    padding: 2vw 1vw 2vw 1vw;
  }
  .content button:hover {
    background-color: white;
    color: #000;
  }
  .page5 {
    width: 100%;
    height: 100%;
  }
  .Apage {
    flex-wrap: wrap;
  }
  .A {
    width: 100%;
    height: 52vh;
    padding: 0 4vw 0 5vw;
  }
  .A h5 {
    font-size: 5vw;
  }
  .A h1 {
    font-size: 6vw;
  }
  .A p {
    font-size: 3vw;
    line-height: 4vw;
    word-spacing: 4px;
  }
  .A button {
    font-size: 3vw;
    padding: 1.4vw 1.4vw;
  }
  .A button:hover {
    background-color: white;
    color: #000;
  }
  .B {
    width: 100%;
    height: 48vh;
  }
  .B img {
    width: 100%;
    height: 100%;
  }
  .page6 {
    width: 100%;
  }
  .Cpage {
    flex-wrap: wrap;
  }

  .C {
    width: 100%;
    height: 50vh;
  }

  .C img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .D {
    width: 100%;
    height: 55vh;
    padding-top: 0;
    padding-inline: 4vw 4vw;
  }
  .D h5 {
    font-size: 3.3vw;
  }
  .D h2 {
    font-size: 6vw;
  }
  .D p {
    font-size: 3.3vw;
    line-height: 1.6rem;
  }
  .D button {
    font-size: 3vw;
    padding: 2vw 1vw;
  }
  .D button:hover {
    background-color: white;
    color: #000;
  }
  .page7 {
    width: 100%;
    height: 90vh;
    margin: 0 0 0 0;
    padding-top: 3vw;
  }

  .custom {
    text-align: center;
  }

  .custom h1 {
    font-size: 5vw;
  }

  .custom h4 {
    color: rgb(145, 96, 5);
    font-size: 4vw;
  }
  .group {
    height: 80vh;

    gap: 10px;
    padding: 2vw 2vw 0vw 2vw;
    margin: 0 0 0 0;
  }
  .member {
    display: flex;
  }
  .member {
    width: 50%;
    height: 40%;
  }

  .member:nth-child(2) {
    position: absolute;
    top: 45%;
  }

  .Man {
    width: 100%;
    padding-inline: 1vw;
  }

  .Man img {
    width: 100%;
    height: 100%;
  }
  .Man2 {
    padding-top: 3vw;
  }
  .Man2 h1 {
    font-size: 5vw;
  }

  .Man2 p {
    font-size: 2.8vw;
    line-height: 4vw;
  }

  .Man2 h3 {
    font-size: 2.8vw;
  }
  .page8 {
    width: 100%;
    height: 75%;
    text-align: center;
    border: 1px solid black;
  }
  .con {
    margin-top: 3vw;
  }
  .con h4 {
    font-size: 4vw;
  }
  .con h1 {
    font-size: 4.8vw;
  }
  .row1 input {
    font-size: 3vw;
    width: 80%;
    border-radius: 10px;
  }
  .row2 input {
    font-size: 3vw;
    width: 80%;
    border-radius: 10px;
  }
  .row3 textarea {
    width: 80%;
    font-size: 3vw;
    padding-top: 1vw;
    border-radius: 10px;
  }

  .row4 {
    margin-top: 2vw;
  }

  .row4 button {
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 10px;
    font-size: 3vw;
    border: none;
  }
  .row4 button:hover {
    background-color: white;
    color: #000;
  }
  .page9 {
    width: 100%;
    height: 80vh;
    flex-wrap: wrap;
    padding-top: 3vw;
  }

  .coloum h1 {
    color: white;
    font-size: 7vw;
    font-weight: 500;
  }

  .coloum .cols h4 {
    line-height: 6vw;
    font-size: 4vw;
    font-weight: 500;
  }

  .coloum .inp {
    margin-top: 1vw;
  }

  .coloum .inp input {
    width: 100%;
    padding-top: 2vw;
  }
}

@media (max-width: 390px) {
     .registeration a{
       display:none;
     }
}

@media (max-width: 1080px) {

h1{
     margin-right: 6px;
}
h1 i {
    
    font-size: 25px;
    margin-right: 3px;
}
h1 span {
  
    font-size: 1.8rem;
    font-weight: 600;
}
.menu i {
      font-size: 30px;
      display: block;
}
.nav {
      padding: 16px 2%;
      transform: .2s;
  }
.navbar-links a {
      padding: 5px 0;
      margin: 0px 30px;
      font-weight: 500;
} 

.navbar-links {
      position: absolute;
      top: 100%;
      right: -100%;
      padding: 10px 0px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      border-radius: 10px;
      transition: all .50s ease;
      background:white;
}

.navbar-links a {
    position: relative;
    text-decoration:none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 40px;
    transition: all .50s ease;
    color:black;
}
ul a::before{
   content:"";
   position: absolute;
   width:100%;
   height:1px;
   background:black;
  bottom: 1px;         
  left: 0;
  transform: scaleX(0);       
  transform-origin: left;     
  transition: transform 0.3s ease;
   
}

ul a:hover::before{
  transform: scale(1);
  
}

ul a:hover {
   color:green;
}


.registeration {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all .50s ease;
}
.registeration a {
   
    border-radius: 10px;
    background:#fff;
    color:black;
    padding:4px 4px;
    text-decoration:none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
}

.registeration a:hover{
    color:white;
    background: green;
    border: 2px solid white;
}

a i {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 5px;
}

  .navbar-links a {
      display: block;
     padding: 5px 0;
     margin: 0px 40px;
      transition: all .50s ease;
     
  }
  .navbar-links a:hover {
      color: green;
      transform: translateY(3px);
  }

}
