* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: #ffff;
  overflow-x: hidden;
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
}

.main-::-webkit-scrollbar {
  width: 100%;
  display: none;
}

.head {
  width: 100%;
  position: relative;
}
.nav {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 12%;
  transition: all 0.5s ease;
}
.logo h1 {
  display: flex;
  align-items: center;
}
h1 i {
  font-size: 28px;
  margin-right: 3px;
}
h1 span {
  font-size: 2rem;
  font-weight: 600;
}
.navbar-links {
  display: flex;
  list-style: none;
}
.navbar-links a {
  position: relative;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all 0.5s ease;
  color: black;
}

ul a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  bottom: 1px;
  left: 0;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.navbar-links a:hover{
  color:green;
}
ul a:hover::before {
  transform: scaleX(1);
}

.registeration {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: all 0.5s ease;
}
.registeration a {
  display: flex;          
  align-items: center;    
  gap: 5px;              
  border-radius: 10px;
  background: #fff;
  color: black;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 0.5s ease;
  white-space: nowrap; 
  box-shadow: 0px 0px 2px #000;   
}

.registeration a:hover {
  color: white;
  background: #000;
}
a i {
  font-size: 1.3rem;
  font-weight: 500;

  margin-right: 2px;
}

.menu {
  display: flex;
  align-items: center;
}
.menu i {
  font-size: 38px;
  color: #0c0b0bff;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.bg-x {
  transition: all 0.5s ease;
  border-radius: 2px;
}

.navbar-links.open {
  right: 2%;
}

.landing-page {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 12%;
  gap: 20px;
}
.left {
  width: 100%;
  max-width: 50%;
}

.center {
  padding-top: 80px;
}

.center h1 {
  font-size: 3vw;
  font-weight: 600;
}

.center h1 span {
  color: rgba(233, 168, 17, 1);
  border-bottom: 1px solid rgb(72, 71, 71);
  font-size: 3.2vw;
}

.center h3 {
  font-size: 1.6vw;
  line-height: 2;
  margin-bottom: 8px;
}

.center p {
  font-size: 1.3vw;
  color: rgb(37, 53, 51);
  font-weight: 500;
  line-height: 2vw;
  margin-top: 5px;
  margin-bottom: 5px;
}

.butt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.3vw;
}

.butt a {
  text-decoration: none;
  padding: 13px 4%;
  font-size: 1.5em;
  font-weight: 500;
  color: #000;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: #a35f07ff;
  box-shadow:0px 0px 2px #000;

}
.butt a:hover {
  background-color: #b26b0fff;
  color:#fff;
}

.butt button {
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 13px 3%;
  border-radius: 10px;
  background-color: #fff;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow:0px 0px 3px #000;
}

.butt button:hover {
  background-color: #1e1d1dff;
  color:#fff;

}
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 50%;
  padding-top: 50px;
}

.right img {
  width: 80%;
  border-radius: 50%;
}
.page2 {
  width: 100%;
  padding: 2vw 12vw;
}
.for {
  padding: 14px 1%;
  width: 100%;
  box-shadow: 0px 0px 10px #d6d1d1ff;
  border-radius: 10px;
}
.firstf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.row label {
  font-size: 2.1vw;
  font-weight: 500;
}

.row button {
  background: #fff;
  color: black;
  font-size: 1.3vw;
  border-radius: 10px;
  padding: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.row button:hover {
  background: #000;
  color: white;
}
form {
  width: 100%;
  padding:10px 5px;
}

form input {
  width: 15vw;
  border-radius: 5px;
  padding: 13px 20px 13px 10px;
  border: none;
  out-line: none;
  font-size: 1.5rem;
  box-shadow:0px 0px 2px #000;
}

.page3 {
  width: 100%;
  padding: 40px 0px;
}

.text {
  text-align: center;
}

.text h2 {
  color: rgb(160, 107, 9);
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 12px;
}

.text p {
  font-size: 2.4rem;
}

.Card {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 12vw;
  gap: 30px;
}

.read1 {
  width: 100%;
  max-width: 500px;
  background-color: rgba(250, 247, 248, 0.96);
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 0px 5px #343232ff;
  
}

.read1:hover {
  transform: translateY(18px);
  box-shadow: 0px 0px 10px #343232ff;
}

.read1 img {
  width: 45%;
  height: 45%;
  border-radius: 50%;
  background: #f7f5f5;
  margin: 10px 10px;
  transform: scale(1);
  transition: all 0.3s ease;
}

.read1 img:hover {
  transform: scale(1.1);
}

.read1 p {
  margin: 10px 0px;
  font-size: 1.3rem;
  font-weight: 500;
  text-align:justify;
  word-spacing:-2px;
}

.read1 h1 {
  font-size: 2.4rem;
  font-weight: 500;
}

.read1 button {
  font-size: 1.4rem;
  padding: 12px;
  border-radius: 10px;
  background: #fff;
  color: #000;
  border: none;
  margin: 10px 0px;
  box-shadow: 0px 0px 10px #949292ff;
  cursor: pointer;
  transition: all 0.3s ease;
}
.read1 button:hover {
  background: #e9a760ff;
}

.page4 {
  width: 100%;
  position: relative;
  height: 100vh;
  background-image: url("/images/manager.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.comn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  text-align: center;
  padding: 10px 0px;
}
.content h3 {
  color: rgba(232, 138, 38, 1);
  font-size: 2.4rem;
}
.content p {
  font-size: 2.2rem;
}
.content button {
  border: 1px solid black;
  color: rgba(13, 13, 13, 1);
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 15px;
  padding: 1vw 1vw;
  background-color: #fff;
  margin-top: 2vw;
  cursor: pointer;
}
.content button:hover {
  background-color: #dba628;
  color: #000;

}

.page5 {
  width: 100%;
}
.Apage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 4vw 12vw;
}
.A,
.B {
  width: 100%;
}
.A h1 {
  font-size: 3rem;
  color: rgb(145, 96, 5);
}
.A h3 {
  padding-top: 1rem;
  font-size: 3.3rem;
}

.A p {
  font-size: 1.4rem;
  padding-top: 1.9vw;
  line-height: 30px;
  word-spacing: 3px;
}
.A button {
  margin-top: 3vw;

  font-size: 1.3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(250, 245, 238, 1);
  color: #000;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 0px 0px 2px #000;

}
.A button:hover {
  background: #dba628;

}

.B img {
  width: 100%;
  border-radius: 2vw;
}

.page6 {
  width: 100%;
}
.Cpage {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 4vw 12vw;
}

.C {
  width: 100%;

}

.C img {
  width: 100%;
}

.D {
  width: 100%;
  padding:10px 0px;

}
.D h5 {
  font-size: 2.5rem;
  color: rgb(145, 96, 5);
  margin-bottom: 10px;
}

.D h2 {
  font-size: 3rem;
}
.D p {
  font-size: 1.5rem;
  line-height: 35px;
  padding-top: 2vw;
}
.D button {
  margin-top: 3vw;

  font-size: 1.3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgba(250, 245, 238, 1);
  color: #000;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  box-shadow: 0px 0px 2px #000;

}
.D button:hover {
  background: #dba628;

}

.page7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.custom {
  text-align: center;
  margin-bottom: 30px;
}

.group {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1100px;
  padding-top: 50px;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: #f0ededff;
  border-radius: 10px;
  box-shadow: 0 0px 2px #000;
  width: calc(33.33% - 20px);
  min-width: 400px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  transform: scale(1);
}

.member:hover {
  transform: scale(1.1);
}

.Man img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.Man2 {
  flex: 1;
}

.Man2 h1 {
  margin: 0 5px 5px 0;
  font-size: 1.4em;
}

.Man2 p {
  margin: 10px 0px;
  font-size: 1.2em;
  font-weight: 500;
  color: #555;
}

.page8 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}

.con {
  margin-bottom: 30px;
}

.con h4 {
  font-size: 1.2rem;
  color: #d8860aff;
  margin-bottom: 5px;
}

.con h1 {
  font-size: 2.5rem;
  color: #333;
}

.con2 {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0px 4px #000;
}

.SecondF {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rows {
  width: 100%;
}

.rows input,
.rows textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #c9c6c6ff;
  border-radius: 5px;
  font-size: 1rem;
  color: #555;
  transition: all 0.3s ease;
}

.rows textarea {
  resize: vertical;
  min-height: 120px;
}

.rows input:focus,
.rows textarea:focus {
  outline: none;
  border-color: #0dc52b;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.rows input::placeholder,
.rows textarea::placeholder {
  color: #4b4a4aff;
  font-weight:600;
  font-size:1.2rem;
}

.rows button {
  width: 100%;
  padding: 15px;
  background-color: #ddc84dff;
  color: #0c0c0cff;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.rows button:hover {
  background-color: #be9c05ff;
}

.page9 {
  width:100%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  background-color: #282c34; 
  color: #ffffff; 
  padding: 50px 8%;
  gap: 20px;
}

.coloum {
  flex: 1;
  min-width: 250px; /* Minimum width before columns wrap */
  margin-bottom: 20px;
}

.coloum h1 {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid #2de927ff; /* A blue line for design */
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.coloum h4 {
  font-size: 16px;
  font-weight: normal;
  margin: 10px 0;
  cursor: pointer;
  transition: color 0.3s;
}

.coloum h4:hover {
  color: #42f622ff;
}

.inp {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inp input[type="text"] {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  width: 100%;
}


.inp input[type="text"]::placeholder {
  color: #aaa;
}

@media (max-width: 768px) {
  .landing-page {
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding: 40px 5%;
    gap: 10px;
  }
  .left {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: coloum;
    text-align: center;
  }

  .center {
    padding-top: 30px;
  }

  .center h1 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 8px;
  }

  .center h1 span {
    
    border-bottom: 1px solid rgba(25, 24, 24, 1);
    font-size: 1.6rem;
  }

  .center h3 {
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: 0px;
  }

  .left .center p {
    font-size: 1rem;
    color: rgb(37, 53, 51);
    font-weight: 400;
    line-height: 19px;
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: justify;
  }

  .butt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 10;
  }

  .butt a {
    text-decoration: none;
    padding: 5px 2%;
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    border-radius: 8px;
    transition: all 0.3s ease;
   
  }
 

  .butt button {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 2%;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }

 
  .right {
    width: 100%;
    max-width: 100%;
    padding-top: 5px;
  }

  .right img {
    width: 100%;

    border-radius: 50%;
  }

   .Card .read1 p {
   
    font-weight: 500;
    word-spacing: -2px;
    text-align:justify;

  }

  .page8 {
    padding: 60px 40px;
  }
  .page8 .con h1 {
    font-size: 1.8rem;
  }
  .page8 .con2 {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .registeration a {
    display: none;
  }

  .left .center h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 8px;
    text-align: center;
  }

  .left .center h1 span {
    font-size: 1.5rem;
  }

  .left .center h3 {
    font-size: 1.1rem;
    line-height: 2;
    margin-bottom: 0px;
  }
  .center p {
    font-size: 1rem;
    color: rgb(37, 53, 51);
    font-weight: 400;
    line-height: 19px;
    word-spacing: -2px;

    margin-top: 2px;
    margin-bottom: 2px;
    text-align: justify;
  }
  .Card .read1 p {
   
    font-size: 1rem;
    font-weight: 500;
    word-spacing: -2px;
    text-align:justify;

  }

  .Card .read1 h1 {
    font-size: 1.6rem;
    font-weight: 500;
  }
}

@media (max-width: 1080px) {
  h1 {
    margin-right: 6px;
  }
  h1 i {
    font-size: 23px;
    margin-right: 3px;
  }
  h1 span {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .menu i {
    font-size: 30px;
    display: block;
  }
  .nav {
    padding: 16px 4%;
    transform: 0.2s;
  }
  .navbar-links a {
    padding: 5px 0;
    margin: 0px 30px;
    font-weight: 500;
  }

  .navbar-links {
    position: absolute;
    top: 100%;
    right: -100%;
    padding: 10px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    transition: all 0.5s ease;
    background: white;
  }

  .navbar-links a {
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 40px;
    transition: all 0.5s ease;
    color: black;
  }
  ul a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: black;
    bottom: 1px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  ul a:hover::before {
    transform: scale(1);
  }
  ul a:hover {
    color: green;
  }
  .registeration {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: all 0.5s ease;
  }
  .registeration a {
    border-radius: 5px;
    background: #fff;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.5s ease;
  }
  .registeration a:hover {
    color: white;
    background: green;
    border: 2px solid white;
  }
  a i {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 5px;
  }
  .navbar-links a {
    display: block;
    padding: 5px 0;
    margin: 0px 40px;
    transition: all 0.5s ease;
  }
  .navbar-links a:hover {
    color: green;
    transform: translateY(3px);
  }

  .navbar-links.open {
    right: 2%; 
  }

  .landing-page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 6%;
    gap: 10px;
  }
  .left {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: coloum;
    text-align: center;
  }

  .center {
    padding-top: 30px;
  }

  .center h1 {
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 12px;
    text-align: start;
  }

  .center h1 span {
    font-size: 2rem;
  }

  .center h3 {
    font-size: 1.4rem;
    line-height: 2;
    margin-bottom: 0px;
    font-weight: 500;
  }

  .center p {
    font-size: 1.1rem;
    color: rgb(37, 53, 51);
    font-weight: 400;
    word-spacing: -1px;
    line-height: 19px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: justify;
  }

  .butt {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 3.1vw;
  }

  .butt a {
    text-decoration: none;
    padding: 10px 2%;
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    border-radius: 8px;
    transition: all 0.3s ease;
   
  }
  .butt a:hover {
    background-color: #f09113ff;
  }

  .butt button {
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 2%;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  
  .right {
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding-top: 5px;
  }

  .right img {
    width: 100%;
    height: 50vw;
    border-radius: 50%;
  }

  .page2 {
    width: 100%;
    padding: 1rem 1.2rem;
  }
  .for {
    padding: 5px 5%;
    width: 100%;
    box-shadow: 0px 0px 10px #d6d1d1ff;
    border-radius: 5px;
  }
  .firstf {
    display: flex;
    flex-wrap: wrap;
    /* padding: 1vw; */
  }
  .row {
    width: 100%;
    margin-bottom: 14px;
  }
  .row label {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .row:last-child {
    text-align: center;
    margin-top:10px;
  }
  .row button {
    background: #fff;
    color: black;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    box-shadow:0px 0px 2px #000;
  }

  .row button:hover {
    background: #000;
    color: white;
  }

  form {
    width: 100%;
    
  }

  form input {
    width: 100%;
    border-radius: 5px;
    padding: 8px 0px 8px 5px;
    border: none;
    out-line: none;
    font-size: 1.5rem;
  }

  .page3 {
    width: 100%;
  }

  .text {
    text-align: center;
    margin:20px 0px;
   
  }

  .text h2 {
    color: rgb(160, 107, 9);
    font-size: 1.4rem;
    font-weight: 400;
   

  }

  .text p {
    font-size: 1.8rem;
  }

  .Card {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3vw 3vw;
    gap: 30px;
  }

  .read1 {
    width: 100%;
    max-width: 400px;
    background-color: rgb(250, 247, 248);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
  }

  .read1:hover {
    transform: translateY(18px);
    box-shadow: 0px 0px 10px #343232ff;
  }

  .read1 img {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background: #f7f5f5;
    margin: 10px 10px;
    transform: scale(1);
    transition: all 0.3s ease;
  }

  .read1 img:hover {
    transform: scale(1.1);
  }

  .read1 p {
    margin: 10px 0px;
    font-size: 1.1rem;
    font-weight: 500;
    word-spacing: -1px;
    text-align:justify;

  }

  .read1 h1 {
    font-size: 1.9rem;
    font-weight: 500;
  }

  .read1 button {
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    color: #000;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 10px #949292ff;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .read1 button:hover {
    background: #e9a760ff;
  }
  .page4 {
    width: 100%;
    height: 100vh;
    background-image: url("/Images/manager.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .comn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content {
    text-align: center;
    padding: 10px 0px;
  }
  .content h3 {
    color: rgba(232, 138, 38, 1);
    font-size: 1.3rem;
    font-weight:500;
  }
  .content p {
    font-size: 1.8rem;
    font-weight:500;
   
  }
  .content button {
    border: 1px solid black;
    color: rgba(13, 13, 13, 1);
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 10px 8px;
    background-color: #fff;
    margin-top: 2vw;
    cursor: pointer;
  }
  .content button:hover {
    background-color: #dba628;
    color: #000;
  }

  .page5 {
    width: 100%;
  }
  .Apage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 2vw 10vw;
  }
  .A {
    text-align: center;
  }
  .A,
  .B {
    width: 100%;
  }
  .A h1 {
    font-size: 1.3rem;
    color: rgb(145, 96, 5);
  }
  .A h3 {
    padding-top: 4px;
    font-size: 1.8rem;
    font-weight:500;
  }

  .A p {
    font-size: 1.1rem;
    padding: 10px 0px;
    line-height: 25px;
    word-spacing: -2px;
    text-align:justify;

  }
  .A button {
    margin-top: 2vw;
    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
   
  }
  

  .B img {
    width: 100%;
    border-radius: 2vw;
  }

  .page6 {
    width: 100%;
    padding:10px 0px;
  }
  .Cpage {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 1vw 10vw;
  }

  .C {
    width: 100%;
  }

  .C img {
    width: 100%;
  }

  .D {
    width: 100%;
    text-align: center;
    padding:0px 0px;

  }
  .D h5 {
    font-size: 1.3rem;
    color: rgb(145, 96, 5);
    margin-bottom: 5px;
  }

  .D h2 {
    font-size: 1.8rem;
    font-weight:500;
  }
  .D p {
    font-size: 1.1rem;
    line-height: 25px;
    padding: 10px 0px;
    text-align:justify;
    word-spacing:-2px;

  }
  .D button {
    margin-top: 3vw;

    font-size: 1rem;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(250, 245, 238, 1);
    color: #000;
    border: none;
    cursor: pointer;
    transition: all ease 0.3s;
    box-shadow: 0px 0px 2px #000;
  }
  .D button:hover {
    background: #dba628;
  }

  .page7 {
    width: 100%;
    padding: 40px 20px;
  }

  .custom {
    text-align: center;
    margin-bottom: 10px;
  }

  .custom h4{
    font-size:1.3rem;
    color:#dba628;
    margin-bottom:5px;
  }
  .custom h1{
    font-size:1.6rem;
  }

  .group {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 4%;
    flex-direction: column;
    align-items: center;
  }

  .member {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    min-width: 300px;
    transition: all 0.3s ease;
    transform: scale(1);
  }

  .Man {
    margin-bottom: 15px;
  }

  .Man img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 0px;
  }

  .Man2 {
    flex: 1;
  }

  .Man2 h1 {
    margin: 0px;
    font-size: 1.2em;
  }

  .Man2 p {
    margin: 10px 0px;
    font-size: 1em;
    font-weight: 400;
    text-align:justify;
    word-spacing:-2px;
  }

  .page8 {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    text-align: center;
  }

  .con {
    margin-bottom: 30px;
  }

  .con h4 {
    font-size: 1.2rem;
    color: #d8860aff;
    margin-bottom: 5px;
  }

  .con h1 {
    font-size: 1.6rem;
    font-weight:500;
    color: #333;
  }

  .con2 {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  }

  .SecondF {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .rows {
    width: 100%;
  }

  .rows input,
  .rows textarea {
    width: 100%;
    padding: 20px;
    border: 1px solid #c9c6c6ff;
    border-radius: 5px;
    font-size: 1rem;
    color: #555;
    transition: all 0.3s ease;
  }

  .rows textarea {
    resize: vertical;
    min-height: 120px;
  }

  .rows input:focus,
  .rows textarea:focus {
    outline: none;
    border-color: #0dc52b;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  }

  .rows input::placeholder,
  .rows textarea::placeholder {
    color: #4b4a4aff;
  }

  .rows button {
    width: 100%;
    padding: 15px;
    background-color: #ddc84dff;
    color: #0c0c0cff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
  }

  .rows button:hover {
    background-color: #be9c05ff;
  }

 
  .page9 {
    flex-direction: column; 
    padding: 40px 5%; 
  }

  .coloum {
    min-width: 100%; 
    margin-bottom: 30px;
  }

  .coloum h1 {
    font-size: 24px;
    border-bottom: none; 
  }
}
